body{
    background-color: rgb(228, 156, 0);
    font-family: Verdana,Arial,sans-serif;
    text-align:left;
}
h1{
    color: darkmagenta;
}
p{
    color: indigo;
}
a{
    color:darkred;
}
li{
    color: rgb(150, 0, 75);
}
img{
    width: 300px;
    border-radius: 10px;
}
